{#<!DOCTYPE html>#}
{#<html>#}
{#<head lang="en">#}
{#    <meta charset="UTF-8">#}
{#    <title> Online Grocery Store </title>#}
{#    <link rel="stylesheet" href="../../myApp1/static/myApp1/style.css"/>#}
{#    <style>#}
{#        .some {#}
{#            color: aqua;#}
{#        }#}
{##}
{#    </style>#}
{#</head>#}
{##}
{#<body>#}
{##}
{##}
{#{% if type_list %}#}
{#    <h1>Here</h1>#}
{#    <h2 class="hbar1"> List of Types </h2>#}
{#    <ol>#}
{#        {% for type in type_list %}#}
{#            <li class="some"><a href="{% url "myApp1:detail" type_no=type.id %}"> {{ type.name }}</a></li>#}
{#        {% endfor %}#}
{#    </ol>#}
{#{% else %}#}
{#    <strong> None of the types is available! </strong>#}
{#{% endif %}#}
{##}
{#<p><a href="/about">About Page</a></p>#}
{#<a href="{% url 'myApp1:about' %}">About Page</a>#}
{##}
{#</body>#}
{#</html>#}
{% extends "myApp1/base.html" %}
{% block body_block %}
    {% if type_list %}
        <h1>Here</h1>
        <h2 class="hbar1"> List of Types </h2>
        <ol>
            {% for type in type_list %}
                <li class="some"><a href="{% url "myApp1:detail" type_no=type.id %}"> {{ type.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong> None of the types is available! </strong>
    {% endif %}

    {#    <p><a href="about.html">About Page</a></p>#}
    {#    <a href="{% url 'myApp1:about' %}">About Page</a>#}
{% endblock %}
